In [1]:
import pandas as pd
data = pd.read_excel('classproject.xlsx')
data.drop('respid',axis=1,inplace=True)
data.drop('brand',axis=1,inplace=True)

In [126]:
df_combined = data[['hedonic_1','hedonic 2','hedonic_3','hedonic 4','functional_1','functional_2','functional_3','functional_4']]

### without standardization

In [127]:
df_combined.head()

,hedonic_1,hedonic 2,hedonic_3,hedonic 4,functional_1,functional_2,functional_3,functional_4
0,5,4,5,5,5,4,4,5
1,5,5,5,5,5,4,5,4
2,4,4,3,3,5,4,3,3
3,4,4,3,3,4,3,4,4
4,3,3,3,3,3,3,3,3

In [173]:
from sklearn.decomposition import PCA

pca = PCA(n_components=8)

pca_combined = pca.fit(df_combined)

print pca_combined.explained_variance_.sum(),'\n'
print map(float,map(lambda n: "%.3f" % n,pca_combined.explained_variance_ratio_))

5.85417492403

[0.6, 0.116, 0.078, 0.057, 0.046, 0.043, 0.038, 0.021]

In [130]:
score = [item[0] for item in pca_combined.fit_transform(df_combined)]

In [131]:
dehalo = df_combined - (score * pca_combined.components_[0].reshape(8,1)).T

In [132]:
dehalo.head()

,hedonic_1,hedonic 2,hedonic_3,hedonic 4,functional_1,functional_2,functional_3,functional_4
0,4.704604,3.697246,4.691550,4.724796,4.771609,3.747521,3.696267,4.718013
1,4.554236,4.543131,4.534537,4.584706,4.655349,3.618999,4.541654,3.574471
2,4.784478,4.804020,3.819144,3.730855,5.606534,4.670504,3.806619,3.748867
3,4.735892,4.754224,3.768412,3.685590,4.568969,3.628977,4.756662,4.702487
4,4.390311,4.424945,4.451749,4.295276,4.074946,4.188318,4.429552,4.327199

In [171]:
pca = PCA(n_components=8)

pca_dehalo = pca.fit(dehalo)

print pca_dehalo.explained_variance_.sum(),'\n'

print map(float,map(lambda n: "%.3f" % n, pca_dehalo.explained_variance_ratio_))

2.34375113333

[0.29, 0.196, 0.143, 0.116, 0.108, 0.095, 0.053, 0.0]

### Standardized

In [134]:
df_combined2 = (df_combined - df_combined.mean())/df_combined.std()

In [135]:
df_combined2.head()

,hedonic_1,hedonic 2,hedonic_3,hedonic 4,functional_1,functional_2,functional_3,functional_4
0,0.784094,-0.294047,0.867884,0.760208,0.500622,-0.432599,-0.280216,0.757813
1,0.784094,0.818219,0.867884,0.760208,0.500622,-0.432599,0.803287,-0.398849
2,-0.362396,-0.294047,-1.369327,-1.712243,0.500622,-0.432599,-1.363720,-1.555511
3,-0.362396,-0.294047,-1.369327,-1.712243,-0.780382,-1.666571,-0.280216,-0.398849
4,-1.508887,-1.406314,-1.369327,-1.712243,-2.061387,-1.666571,-1.363720,-1.555511

In [167]:
from sklearn.decomposition import PCA

pca = PCA(n_components=8)

pca_combined2 = pca.fit(df_combined2)

print pca_combined2.explained_variance_.sum(),'\n'
print map(float,map(lambda n: "%.3f" % n, pca_combined2.explained_variance_ratio_))

7.95402298851

[0.596, 0.117, 0.079, 0.061, 0.045, 0.042, 0.039, 0.022]

In [137]:
score2 = [item[0] for item in pca_combined2.fit_transform(df_combined2)]

In [138]:
dehalo2 = df_combined2 - (score2 * pca_combined2.components_[0].reshape(8,1)).T

In [139]:
dehalo2.head()

,hedonic_1,hedonic 2,hedonic_3,hedonic 4,functional_1,functional_2,functional_3,functional_4
0,0.435442,-0.639127,0.514174,0.406616,0.191463,-0.759883,-0.618528,0.420406
1,0.299230,0.338323,0.375986,0.268475,0.070680,-0.887746,0.332803,-0.868074
2,0.504011,0.563483,-0.490351,-0.833563,1.268890,0.380706,-0.523008,-0.717049
3,0.520300,0.579605,-0.473826,-0.817042,0.002330,-0.837975,0.576301,0.455377
4,0.106242,0.192268,0.269233,-0.074234,-0.629205,-0.150433,0.203508,0.007524

In [168]:
pca = PCA(n_components=8)

pca_dehalo2 = pca.fit(dehalo2)

print pca_dehalo2.explained_variance_.sum()
print map(float,map(lambda n: "%.3f" % n, pca_dehalo2.explained_variance_ratio_))

3.21219276829
[0.288, 0.196, 0.15, 0.112, 0.104, 0.096, 0.053, 0.0]